@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;

}


.dropbtn {
    background-color: #0d0f16;
    color: white;
    padding: 3px;
    font-size: 17px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0d0f16;
    border-radius: 12px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.8);
}


/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}



:root{
    --mainColor: #0d0f16;
    --mainColorLight: #5871d1;
    --secondaryColor: #c40d1c;/* click or hover page*/
    --textColor: #f7f5f5;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}
nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
}
nav a:hover{
    color: var(--secondaryColor);


}
header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}
@media only screen and (max-width: 1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;

    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);


    }
    header .responsive_nav{
        transform: none;

    }
    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;


    }
    nav a{
        font-size: 1.5rem;
    }
}