@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;

}

.dropdown {
    /*position: relative;*/
    display: inline-block;
}


.dropdown:hover .dropdown-content {display: block;}